@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$white: #f8fafc;
$black: #020617;
$accent-color: #1e3a8a;
$shadow-color: #0000002e;
$red: #dc2626;
$green: #47dc26;
$form-height: 50px;
$border-radius: 8px;
$form-padding: 24px;
$normal-border: 5px solid $accent-color;
$alt-border: 1px solid $white;
$delete-border: 1px solid $red; 
$todo-border-radius: 8px;
$btn-border-radius: 4px;


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $white;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    margin: 2em;
}


#form{
    max-width: 80%;
    margin: 0 auto 24px auto;
    display: flex;
    border-radius: $border-radius;
    // border: $normal-border;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-shadow: 0px 12px 12px 12px $shadow-color;
}

#taskNameInput{
    // max-height: $form-height;
    // border-radius: $border-radius 0 0 $border-radius;
    max-width: 80%;
    padding: $form-padding;
    border: none;
    background-color: $white;
    font-size: 64px;
    font-weight: bold;
}

#submitBtn{
    // max-height: $form-height;
    // border-radius: 0 $border-radius $border-radius 0;
    // padding: $form-padding;
    border-radius: 500px;
    border: none;
    height: 75px;
    width: 75px;
    background-color: $accent-color;
    color: $white;
    font-weight: bold;
    font-size: 72px;
    justify-content: center;
    display: flex;
    align-items: center;
}

#list{
    display: grid;
    gap:12px;
    max-width: 80%;
    margin: 0 auto;
}

.task{
    border: $normal-border;
    border-radius: $border-radius;
    display: flex;
    padding: $form-padding;
    justify-content: space-between;
    align-items: center;
    font-size: 48px;
}
 
.taskName{
    // white-space: nowrap;
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis;
}

.btnsWrapper{
    display: flex;
    gap: 4px;
    border-radius: $btn-border-radius;
}

.deleteBtn{
    background-color: $white;
    border: $delete-border;
    border-radius: $btn-border-radius;
    padding: 8px 10px;
}

.checkbox {
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;


    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
  
    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
    }
  
    &::before {
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border: 5px solid #ddd;
      border-radius: 5px;
      transition: border 0.3s;
    }
  
    &::after {
      top: 23px;
      left: 21px;
      width: 40px;
      height: 20px;
      border-bottom: 10px solid $green;
      border-left: 10px solid $green;
      transform: rotate(-45deg);
      transition: opacity 0.3s;
      opacity: 0;
    }

    &:checked:before{
        border-color: $green;
    }
  
    &:checked::after {
      opacity: 1;
    }
  }


